@import url("https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800");
* {
  outline: none !important; }

html {
  height: 100%; }

body {
  font-family: "Khula", sans-serif;
  color: #5f676d;
  padding-right: 0 !important; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border-top-color: #bfd1df; }

a {
  color: #2295f2;
  transition: background 0.5s, color 0.5s, opacity 0.5s; }
  a:not(.submit) {
    text-decoration: none !important; }
  a.submit {
    text-decoration: underline; }
  a:hover {
    color: #0062b2; }
  a.inherit {
    color: inherit; }
    a.inherit.under {
      border-bottom: 1px solid #9aa8b3; }
  a.link {
    display: inline-block;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 600;
    padding: 3px 21px; }

strong {
  font-weight: bold; }

.underline {
  text-decoration: underline; }

.uppercase {
  text-transform: uppercase; }

.bg-gray, .product-item-wrap.active .product-item:before {
  background-color: #f8f9f9; }

.bg-transparent {
  background-color: transparent; }

.fz-80 {
  font-size: 80px; }

.fz-60 {
  font-size: 60px; }

.fz-50 {
  font-size: 50px; }

.fz-42 {
  font-size: 42px; }

.fz-40 {
  font-size: 40px; }

.fz-38 {
  font-size: 38px; }

.fz-37 {
  font-size: 37px; }

.fz-30 {
  font-size: 30px; }

.fz-27 {
  font-size: 27px; }

.fz-26 {
  font-size: 26px; }

.fz-22 {
  font-size: 22px; }

.fz-21 {
  font-size: 21px; }

.fz-20 {
  font-size: 20px; }

.fz-19 {
  font-size: 19px; }

.fz-18 {
  font-size: 18px; }

.fz-17 {
  font-size: 17px; }

.fz-15 {
  font-size: 15px; }

.fz-14 {
  font-size: 14px; }

.fz-13 {
  font-size: 13px; }

.lh-0_9 {
  line-height: 0.9; }

.lh-1_13 {
  line-height: 1.13; }

.lh-1_14 {
  line-height: 1.14; }

.lh-1_15 {
  line-height: 1.15; }

.lh-1_16 {
  line-height: 1.16; }

.lh-1_19 {
  line-height: 1.19; }

.lh-1_2 {
  line-height: 1.2; }

.lh-1_25 {
  line-height: 1.25; }

.lh-1_28 {
  line-height: 1.28; }

.lh-1_3 {
  line-height: 1.3; }

.lh-1_36 {
  line-height: 1.36; }

.lh-1_38 {
  line-height: 1.38; }

.lh-1_39 {
  line-height: 1.39; }

.light {
  font-weight: 300; }

.semi-bold {
  font-weight: bold; }

.bold {
  font-weight: bold; }

.extra-bold {
  font-weight: 800; }

.blue-light {
  color: #2295f2; }

.blue {
  color: #0062b2; }

.green {
  color: #b4ec51; }

.yellow {
  color: #fc690e; }

.black {
  color: #353e46; }

.gray {
  color: #9aa8b3; }

.title {
  font-size: 40px;
  color: #2295f2; }

.sub-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.14;
  margin-bottom: 40px; }

.product-wrap .logo-product {
  margin-top: -35px; }

.logo-product-wrap .logo-product {
  width: 60px;
  border-radius: 3px;
  margin-left: 6px;
  margin-right: 6px; }
.logo-product-wrap.product-wrap .logo-product {
  margin-top: -30px; }

.logo-product {
  display: inline-block;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.21); }

button.close {
  width: 61px;
  height: 61px;
  background-image: url("../img/close.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }
  button.close:hover {
    filter: invert(40%); }

.alert {
  margin-top: 35px;
  margin-bottom: 40px; }

.modal-backdrop {
  background-color: #fff; }
  .modal-backdrop.show {
    opacity: 1; }

.form-control {
  padding: 0.563rem 1rem;
  border-color: #bbc5cf;
  border-radius: 2px; }
  .form-control.control-light {
    border-color: #e9ebed; }
  .form-control:focus {
    border-color: #bbc5cf !important;
    box-shadow: 0 0 4px 0 #2295f2; }

select.form-control {
  height: 44px !important;
  box-shadow: none !important;
  padding-right: 60px;
  background: url("../img/select.png") no-repeat center right;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.form-control.error {
  border-color: #d40000 !important;
  box-shadow: 0 0 4px 0 #e60000 !important; }

label.error {
  margin-bottom: 0;
  margin-top: 10px;
  color: #d40000; }

.btn {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21) !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
  transition: background 0.15s ease-in-out, border-color 0s ease-in-out, box-shadow 0.15s ease-in-out; }
  .btn:hover {
    box-shadow: none !important;
    text-shadow: none; }
  .btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important; }
  .btn.btn-lg {
    font-size: inherit; }
  .btn.btn-md {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 15px; }

.btn-primary, .card:hover .card-body .btn {
  background: linear-gradient(to bottom, #33bbfd, #2295f2) !important;
  border-color: #259af4 !important;
  color: #fff !important; }
  .btn-primary:hover, .card:hover .card-body .btn:hover {
    background: linear-gradient(to bottom, #2a93c6, #1e74b7) !important;
    border-color: #1f75b8 !important;
    color: #e9ebed !important; }

.btn-danger {
  background: linear-gradient(to bottom, #ff8b15, #f76b1c) !important;
  border-color: #fc6a0d !important;
  color: #fff !important; }
  .btn-danger:hover {
    background: linear-gradient(to bottom, #c97719, #c7530b) !important;
    border-color: #c7540c !important;
    color: #e9ebed !important; }

.btn-outline-secondary {
  background: transparent !important;
  border-color: #e9ebed;
  color: #5f676d !important; }
  .btn-outline-secondary:hover {
    border-color: #bfd1df !important;
    color: #9aa8b3 !important; }

.navbar-toggler {
  padding: 0;
  border: 0;
  width: 24px;
  cursor: pointer;
  border-radius: 0; }
  .navbar-toggler span {
    display: block;
    height: 3px;
    background-color: #fff; }
    .navbar-toggler span + span {
      margin-top: 5px; }

.navbar-1 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem; }
  .navbar-1 .nav-item {
    padding: 0 9px; }
    .navbar-1 .nav-item .nav-link {
      border-radius: 2px;
      font-size: 17px;
      font-weight: bold;
      color: #e9ebed;
      padding: 5px 16px;
      border: 1px solid transparent;
      transition: border-color 0.5s; }
      .navbar-1 .nav-item .nav-link:hover {
        color: #fff;
        border-color: #fff; }
      .navbar-1 .nav-item .nav-link.active {
        border-color: #fff; }
    .navbar-1 .nav-item.active .nav-link {
      border-color: #fff; }
  .navbar-1 .navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: #fff !important; }
    .navbar-1 .navbar-brand:hover {
      opacity: 0.8; }

.navbar-2-wrap {
  min-height: 70px;
  margin-bottom: -35px; }

.navbar-2 {
  position: static;
  top: -500px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); }
  .navbar-2:not(.fixed-top) {
    border-radius: 4px;
    border: 2px solid #7bc4ff;
    padding: 0; }
    .navbar-2:not(.fixed-top) .navbar-nav {
      width: 100%; }
      .navbar-2:not(.fixed-top) .navbar-nav .nav-item {
        flex-grow: 1; }
        .navbar-2:not(.fixed-top) .navbar-nav .nav-item + .nav-item {
          border-left: 1px solid #7bc4ff; }
        .navbar-2:not(.fixed-top) .navbar-nav .nav-item .nav-link {
          font-weight: bold;
          color: #0062b2;
          font-size: 18px;
          height: 100%;
          padding-top: 19.5px;
          padding-bottom: 19.5px; }
          .navbar-2:not(.fixed-top) .navbar-nav .nav-item .nav-link:hover {
            background-color: #e9ebed; }
          .navbar-2:not(.fixed-top) .navbar-nav .nav-item .nav-link.active {
            background-color: #e9ebed; }
    .navbar-2:not(.fixed-top) .navbar-toggler, .navbar-2:not(.fixed-top) .navbar-brand, .navbar-2:not(.fixed-top) .form-inline, .navbar-2:not(.fixed-top) .close {
      display: none; }
    .navbar-2:not(.fixed-top) .navbar-collapse {
      display: block !important; }
  .navbar-2.fixed-top {
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s; }
    .navbar-2.fixed-top .nav-item {
      padding: 0 9px;
      position: relative; }
      .navbar-2.fixed-top .nav-item + .nav-item:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 28px;
        margin-top: -14px;
        background-color: #eaeaea; }
      .navbar-2.fixed-top .nav-item .nav-link {
        border-radius: 2px;
        font-weight: bold;
        color: #0062b2;
        padding: 8px 21px; }
        .navbar-2.fixed-top .nav-item .nav-link:hover {
          color: #2295f2;
          background-color: #e9ebed; }
        .navbar-2.fixed-top .nav-item .nav-link.active {
          background-color: #e9ebed; }
    .navbar-2.fixed-top .navbar-brand {
      font-size: 19px;
      font-weight: 800;
      color: #353e46 !important; }
      .navbar-2.fixed-top .navbar-brand:hover {
        opacity: 0.8; }
    .navbar-2.fixed-top .navbar-toggler span {
      background-color: #5f676d; }

.navbar-3 .nav-item .nav-link {
  font-size: 15px;
  color: #9aa8b3;
  padding: 0 10px;
  line-height: 0.8; }
  .navbar-3 .nav-item .nav-link:hover {
    color: #fff; }
.navbar-3 .nav-item + .nav-item .nav-link {
  border-left: 1px solid #9aa8b3; }
.navbar-3 .navbar-brand {
  font-size: 24px;
  font-weight: 600;
  color: #fff !important; }
  .navbar-3 .navbar-brand:hover {
    opacity: 0.8; }

.section-bunner {
  background-image: url("../img/background/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  color: #fff;
  padding-bottom: 164px; }
  .section-bunner .center-bunner {
    margin-top: 116px; }
    .section-bunner .center-bunner small {
      font-size: 40%; }
  .section-bunner.contact-bunner {
    padding-bottom: 225px; }
    .section-bunner.contact-bunner .center-bunner {
      margin-top: 74px; }
  .section-bunner.purchase-bunner {
    padding-bottom: 58px; }
    .section-bunner.purchase-bunner .center-bunner {
      margin-top: 40px; }

.section-navbar {
  position: relative;
  z-index: 2; }
  .section-navbar .owl-1-wrap {
    padding: 25px 54px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: -63px;
    margin-bottom: 73px; }
    .section-navbar .owl-1-wrap .owl-1 .owl-nav [class*=owl-] {
      width: 23px;
      height: 40px;
      margin-top: -20px; }

.owl-theme {
  position: relative; }
  .owl-theme .owl-item img {
    display: inline-block;
    width: auto; }
  .owl-theme .owl-nav {
    margin-top: 0; }
    .owl-theme .owl-nav [class*=owl-] {
      position: absolute;
      padding: 0;
      margin: 0;
      top: 50%;
      width: 41px;
      height: 70px;
      margin-top: -35px;
      background-color: transparent !important;
      transition: 0.5s;
      background-size: cover !important; }
      .owl-theme .owl-nav [class*=owl-].owl-prev {
        left: -40px;
        background-image: url("../img/left.png"); }
      .owl-theme .owl-nav [class*=owl-].owl-next {
        right: -40px;
        background-image: url("../img/right.png"); }
      .owl-theme .owl-nav [class*=owl-]:not(.disabled):hover {
        filter: invert(20%); }

.owl-3 .owl-stage-outer {
  margin: -5px;
  padding: 5px; }
.owl-3 .owl-nav [class*=owl-].owl-prev {
  left: -78px; }
.owl-3 .owl-nav [class*=owl-].owl-next {
  right: -78px; }

.section-features {
  padding-top: 180px;
  padding-bottom: 120px; }

.product-item-wrap .product-item {
  padding: 17px 19px;
  border: 1px solid transparent;
  transition: 0.5s; }
  .product-item-wrap .product-item * {
    transition: 0.5s; }
  .product-item-wrap .product-item .left-icon {
    width: 68px;
    height: 68px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08); }
    .product-item-wrap .product-item .left-icon img {
      display: inline-block;
      margin: auto;
      height: 34px; }
  .product-item-wrap .product-item .product-title {
    color: #2295f2; }
  .product-item-wrap .product-item:hover .left-icon {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.21); }
  .product-item-wrap .product-item:hover .product-title, .product-item-wrap .product-item:hover a {
    color: #0062b2; }
.product-item-wrap.active .product-item {
  border-color: #bfd1df;
  border-radius: 4px;
  position: relative; }
  .product-item-wrap.active .product-item .more {
    display: none; }
  .product-item-wrap.active .product-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotate(45deg);
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-bottom: -8px;
    border-bottom: 1px solid #bfd1df;
    border-right: 1px solid #bfd1df; }
  .product-item-wrap.active .product-item .left-icon {
    background-color: transparent;
    box-shadow: none !important; }
  .product-item-wrap.active .product-item .product-title, .product-item-wrap.active .product-item a {
    color: #0062b2; }

.product .blue-light, .product img {
  transition: 0.5s; }
.product:hover .blue-light {
  color: #0062b2; }
.product:hover img {
  filter: grayscale(29%); }

.section-customer {
  padding-top: 123px;
  padding-bottom: 100px; }

.customer {
  margin-bottom: 71px; }
  .customer.left {
    border-right: 1px solid #bfd1df; }

.section-customer-2 {
  padding-top: 74px;
  padding-bottom: 23px; }

.section-studies {
  padding-top: 100px;
  padding-bottom: 108px; }

.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: 0;
  border-radius: 0;
  transition: transform 0.5s, box-shadow 0.5s; }
  .card .img-wrap {
    background-color: #000; }
    .card .img-wrap img {
      opacity: 0.71;
      transition: opacity 0.5s; }
  .card .card-body {
    padding: 32px 29px 32px 32px; }
  .card:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.24);
    transform: translateY(-5px); }
    .card:hover .img-wrap img {
      opacity: 0.84; }

.section-clients {
  padding-top: 124px;
  padding-bottom: 91px; }

.section-FAQ {
  padding-top: 66px;
  padding-bottom: 115px; }

.accordion .item {
  border-radius: 3px;
  border: 1px solid #e9ebed;
  margin-bottom: 8px;
  padding: 14px 72px 10px 52px; }
  .accordion .item a {
    display: block;
    position: relative; }
    .accordion .item a .before {
      left: -40px; }

a[aria-expanded="true"] .before {
  opacity: 0; }
a[aria-expanded="true"] .underline {
  text-decoration: none; }

.before {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #9aa8b3;
  border-radius: 50%;
  position: absolute;
  left: 0;
  margin-top: -2px;
  transition: opacity 0.5s; }
  .before:before, .before:after {
    content: "";
    display: inline-block;
    background-color: #9aa8b3;
    position: absolute;
    top: 50%;
    left: 50%; }
  .before:before {
    width: 12px;
    height: 2px;
    margin-top: -1px;
    margin-left: -6px; }
  .before:after {
    width: 2px;
    height: 12px;
    margin-top: -6px;
    margin-left: -1px; }

.section-developers {
  padding-top: 83px;
  padding-bottom: 106px; }

.section-support {
  padding-top: 135px;
  padding-bottom: 164px; }

footer {
  background-image: url("../img/background/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff; }
  footer .centered {
    margin-top: 133px;
    margin-bottom: 180px; }
  footer .centered-min {
    margin-top: 85px;
    margin-bottom: 90px; }

.modal-dialog {
  margin: auto;
  padding-top: 61px;
  padding-bottom: 61px; }

.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.18); }

.modal-open .modal {
  padding-right: 0 !important;
  align-items: center; }

.modal-header {
  padding: 60px 42px 28px;
  border: 0; }

.modal-footer {
  padding: 27px 38px;
  border: 0; }

#modal-form .modal-content {
  background-color: #ededed; }
  #modal-form .modal-content .left {
    background-color: #fff;
    padding: 47px 61px 60px 48px; }
  #modal-form .modal-content .right {
    padding: 61px 30px 31px 52px; }

.contact-form {
  background-color: #f8f9f9;
  margin-top: -137px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden; }
  .contact-form .row .left {
    background-color: #fff;
    padding: 71px 107px 68px 94px; }
  .contact-form .row .right {
    padding: 69px 81px 35px 53px; }

.modal-case .modal-content .left {
  padding: 0 11px 19px 48px; }
.modal-case .modal-content .right {
  padding: 0 47px 19px 60px; }

.recommended-fields {
  display: block;
  position: relative;
  padding-left: 38px;
  color: inherit;
  transition: 0.5s; }
  .recommended-fields[aria-expanded="true"] {
    padding-left: 0; }

.checkbox-group, .radio-group {
  position: relative;
  cursor: pointer; }
  .checkbox-group .switch, .radio-group .switch {
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0; }
  .checkbox-group input, .radio-group input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute; }
  .checkbox-group:hover .switch, .radio-group:hover .switch {
    opacity: 0.8; }

.checkbox-group {
  padding-left: 33px;
  line-height: 1.8; }
  .checkbox-group .switch {
    width: 28px;
    height: 26px;
    background-image: url("../img/radio/select-option.svg");
    background-position: left top;
    left: 0; }
  .checkbox-group input:checked ~ .switch {
    background-image: url("../img/radio/select-option-on.svg");
    top: -2px; }

.radio-group {
  padding-right: 33px;
  line-height: 1.7;
  font-weight: 600; }
  .radio-group .switch {
    width: 23px;
    height: 23px;
    background-image: url("../img/radio/radio-button.svg");
    background-position: center;
    right: 0; }
  .radio-group input:checked ~ .switch {
    background-image: url("../img/radio/radio-button-on.svg");
    top: 1px; }
  .radio-group .fz-13 {
    line-height: 2.1; }

.section-header {
  background-color: #004c98; }
  .section-header .navbar-1 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }

.section-studies {
  padding-top: 94px;
  padding-bottom: 150px; }

.section-h1 {
  padding-top: 141px;
  padding-bottom: 65px; }
  .section-h1 .circle {
    margin-bottom: -28px;
    padding-top: 18px;
    padding-bottom: 18px; }

.section-numbers {
  padding-top: 14px;
  padding-bottom: 24px; }
  .section-numbers .fz-18 {
    margin-top: -11px; }

.section-numbers [class*="col-"] + [class*="col-"]:before, .section-contact [class*="col-"] + [class*="col-"]:before {
  content: "";
  display: inline-block;
  width: 3px;
  position: absolute;
  background-color: #e9ebed;
  top: 17px;
  bottom: 2px;
  left: 0; }

.section-contact {
  padding-top: 28px;
  padding-bottom: 42px; }

.section-customers {
  padding-top: 70px;
  padding-bottom: 121px; }

.navbar-customers {
  padding-top: 33px;
  padding-bottom: 60px; }
  .navbar-customers .navbar-nav {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 0 70px; }
    .navbar-customers .navbar-nav .nav-item {
      flex-grow: 1; }
      .navbar-customers .navbar-nav .nav-item + .nav-item {
        border-left: 1px solid #e9ebed; }
      .navbar-customers .navbar-nav .nav-item .nav-link {
        font-weight: bold;
        color: #353e46;
        padding-top: 12.5px;
        padding-bottom: 12.5px; }
        .navbar-customers .navbar-nav .nav-item .nav-link:hover {
          background-color: #e9ebed; }

.section-supports {
  padding-top: 13px;
  padding-bottom: 200px; }

.support-block {
  position: relative;
  padding: 99px 0; }
  .support-block + .support-block:before {
    content: "";
    display: block;
    height: 3px;
    max-width: 462px;
    background-color: #bfd1df;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }

.circle {
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.5s; }
  .circle.circle-lg {
    width: 155px;
    height: 155px;
    padding: 4px; }
    .circle.circle-lg .bg {
      background-size: cover;
      background-position: center;
      height: 100%; }
  .circle.square {
    border-radius: 8px;
    padding: 5px; }
  .circle:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.21);
    opacity: 0.9; }

.section-company {
  padding-top: 134px;
  padding-bottom: 115px; }

.year {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #5f676d;
  border-radius: 3px;
  padding: 3px 9px 0px;
  text-transform: uppercase;
  position: relative;
  z-index: 3; }
  .year.mounth {
    font-size: 26px;
    padding: 15px 28px 10px;
    line-height: 0.88; }

.history-wrap {
  padding-top: 24px; }
  .history-wrap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 50%;
    border-left: 4px dashed #bfd1df;
    margin-left: -2px; }
  .history-wrap .history-block .left {
    min-width: 155px;
    text-align: right; }
  .history-wrap .history-block .fz-80 {
    line-height: 1;
    margin-bottom: -15px; }

.section-team {
  padding-top: 158px;
  padding-bottom: 134px; }
  .section-team img.team {
    position: relative;
    z-index: 3; }

.section-filter {
  padding-top: 60px;
  padding-bottom: 50px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative; }
  .section-filter:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotate(45deg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-bottom: -10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15); }

.section-table {
  padding-top: 60px;
  padding-bottom: 119px;
  font-weight: 600; }
  .section-table .btn {
    min-width: auto; }
  .section-table .checkbox-group {
    margin-bottom: 0;
    line-height: inherit; }
  .section-table .col-auto, .section-table .col-md-auto {
    width: 140px;
    text-align: center;
    padding-left: 18px !important;
    padding-right: 18px !important; }
  .section-table .table-neutral, .section-table .table-block {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; }
    .section-table .table-neutral .row, .section-table .table-block .row {
      margin: 0; }
    .section-table .table-neutral [class*="col"]:first-child, .section-table .table-block [class*="col"]:first-child {
      padding-left: 0; }
    .section-table .table-neutral [class*="col"] + [class*="col"], .section-table .table-block [class*="col"] + [class*="col"] {
      border-left: 3px solid rgba(191, 209, 223, 0.28); }
  .section-table .table-neutral {
    padding-right: 22px;
    font-size: 18px; }
    .section-table .table-neutral [class*="col"] {
      padding-bottom: 7px; }
    .section-table .table-neutral:not(.not) [class*="col"] {
      min-height: 47px;
      padding-top: 28px; }
  .section-table .table-block {
    padding-left: 18px;
    padding-right: 22px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    overflow: hidden; }
    .section-table .table-block:not(.table-foot) .row + .row {
      border-top: 1px dashed #bfd1df; }
    .section-table .table-block [class*="col"] {
      padding-top: 14px;
      padding-bottom: 12px; }
    .section-table .table-block .row-wrap {
      margin-left: -18px;
      margin-right: -22px;
      padding-left: 18px;
      padding-right: 22px;
      background-color: #e7f4ff; }
  .section-table .table-head {
    border: 1px solid #7bc4ff;
    font-weight: bold;
    font-size: 18px; }
    .section-table .table-head [class*="col"] {
      padding-top: 1rem;
      padding-bottom: 1rem; }
    .section-table .table-head img {
      width: 40px; }

@media (min-width: 576px) {
  .modal-md {
    max-width: 463px; }

  #modal-login .modal-content {
    padding: 48px !important; } }
@media (min-width: 768px) {
  .btn.btn-lg {
    padding: 1.063rem 1.5rem;
    max-width: 370px; }

  .btn.btn-lg-min {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }

  .history-block:not(.team-wrap) {
    padding-right: 75px !important; }
  .history-block:before {
    content: "";
    display: block;
    position: absolute;
    width: 59px;
    height: 1px;
    background-color: #bfd1df;
    top: 50%;
    right: 0; }
  .history-block:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #f8f9f9;
    border: 2px solid #bfd1df;
    top: 50%;
    right: 0;
    margin: -10px; }

  .justify-content-end .history-block {
    padding-left: 75px !important;
    padding-right: 0 !important; }
    .justify-content-end .history-block:before {
      right: auto;
      left: 0; }
    .justify-content-end .history-block:after {
      right: auto;
      left: 0; } }
@media (min-width: 992px) {
  .row {
    margin-left: -11px;
    margin-right: -11px; }
    .row > [class*="col"] {
      padding-left: 11px;
      padding-right: 11px; }

  .modal-lg {
    max-width: 940px; }

  .navbar-2 .navbar-collapse {
    height: auto !important;
    overflow: visible; }

  .history-wrap .history-block > .row {
    height: 100px; }

  .year:not(.mounth) {
    margin-top: 40px;
    margin-bottom: 40px; }

  .section-filter .left {
    border-right: 3px solid #e9ebed; }

  .dom-3, .dom-5 {
    display: block !important; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1172px; }

  .btn {
    min-width: 168px; } }
@media (max-width: 1349px) {
  .navbar-2.fixed-top .nav-item {
    padding: 0 5px; }
    .navbar-2.fixed-top .nav-item .nav-link {
      padding-left: 10px;
      padding-right: 10px; }

  .owl-3 .owl-nav {
    display: none; } }
@media (max-width: 1249px) {
  .navbar-1 .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  .navbar-1 .nav-item {
    padding: 0 5px; }
    .navbar-1 .nav-item .nav-link {
      padding-left: 10px;
      padding-right: 10px; }
  .navbar-1 .navbar-brand {
    font-size: 19px; } }
@media (max-width: 1199px) {
  .btn {
    min-width: 82px; } }
@media (max-width: 991px) {
  .container {
    padding-left: 14px;
    padding-right: 14px; }

  .row {
    margin-left: -14px;
    margin-right: -14px; }
    .row > [class*="col"] {
      padding-left: 14px;
      padding-right: 14px; }

  .navbar-1 {
    padding-top: 6px !important;
    padding-bottom: 6px !important; }
    .navbar-1 .nav-item .nav-link:hover, .navbar-1 .nav-item .nav-link.active {
      color: #2295f2; }
    .navbar-1 .nav-item.active .nav-link {
      color: #2295f2; }

  .navbar-1 .navbar-collapse, .navbar-2.fixed-top .navbar-collapse {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); }
    .navbar-1 .navbar-collapse .navbar-nav, .navbar-2.fixed-top .navbar-collapse .navbar-nav {
      padding: 98px 30px 60px; }
    .navbar-1 .navbar-collapse .btn, .navbar-2.fixed-top .navbar-collapse .btn {
      width: 100%; }
  .navbar-1 .nav-item, .navbar-2.fixed-top .nav-item {
    padding: 0; }

  .navbar-1 .nav-item .nav-link, .navbar-2 .nav-item .nav-link {
    font-size: 18px;
    color: #0062b2;
    padding-top: 9px !important;
    padding-bottom: 7px !important; }
  .navbar-1 .nav-item + .nav-item, .navbar-2 .nav-item + .nav-item {
    border-top: 1px solid #e9ebed;
    border-left: 0 !important; }
    .navbar-1 .nav-item + .nav-item:before, .navbar-2 .nav-item + .nav-item:before {
      display: none !important; }

  .navbar-2-wrap {
    min-height: 255px;
    margin-bottom: -92px; }

  .navbar-2:not(.fixed-top) .navbar-nav {
    padding-top: 16px;
    padding-bottom: 16px; }

  .section-navbar .owl-1-wrap {
    padding: 3.5px 48px;
    margin-bottom: 35px; }

  .owl-theme .owl-nav [class*=owl-] {
    width: 23px;
    height: 40px;
    margin-top: -20px; }

  .card .card-body {
    padding: 28px; }

  .accordion .item {
    padding-right: 15px; }

  #modal-form .modal-content .left {
    padding-top: 90px !important;
    padding-bottom: 20px !important; }
  #modal-form .modal-content .right {
    padding: 42px !important; }

  .modal .fz-30 {
    font-size: 30px; }

  .contact-form {
    margin-left: -14px;
    margin-right: -14px;
    border-radius: 0;
    box-shadow: none; }
    .contact-form .row .left {
      padding-top: 42px !important;
      padding-bottom: 8px !important; }
    .contact-form .row .right {
      padding-top: 56px !important; }
    .contact-form .row .fz-30 {
      font-size: 30px; }

  .modal-header {
    padding: 26px 35px 18px; }

  .modal-footer {
    padding: 6px 42px 14px;
    background-color: transparent; }
    .modal-footer .btn {
      width: 100%;
      display: block; }

  .modal-case .modal-content .light {
    font-weight: normal; }
  .modal-case .modal-content .left {
    padding: 0 41px 0 42px; }
  .modal-case .modal-content .right {
    padding: 2px 42px 0 70px; }

  .product-content .tab-pane {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0;
    z-index: 9; }
    .product-content .tab-pane .alert {
      margin: 0;
      height: 100%;
      overflow-y: auto; }

  .product-item-wrap.active .product-item:before {
    display: none; }

  .section-contact {
    padding-top: 12px;
    padding-bottom: 12px; }
    .section-contact [class*="col-"] + [class*="col-"]:before {
      width: auto;
      height: 3px;
      top: -1.5px;
      bottom: auto;
      left: 22px;
      right: 22px; }

  .history-wrap .history-block {
    text-align: center; }
    .history-wrap .history-block .left {
      text-align: inherit;
      margin-bottom: 0.5rem; }

  .section-filter {
    padding-top: 25px;
    padding-bottom: 0; }
    .section-filter .radio-row {
      border-bottom: 3px solid #e9ebed; }

  .dom-3, .dom-5 {
    display: none; } }
@media (max-width: 767px) {
  .title {
    font-size: 30px;
    line-height: 1; }

  .sub-title {
    font-size: 1rem;
    line-height: 1.06;
    margin-bottom: 30px; }

  .form-control {
    padding-top: 0.438rem;
    padding-bottom: 0.438rem; }

  select.form-control {
    height: 40px !important; }

  .alert {
    margin-left: -14px;
    margin-right: -14px; }
    .alert .fz-22 {
      font-size: 1rem;
      line-height: 1.25; }
    .alert .light {
      font-weight: normal; }

  .fz-60 {
    font-size: 40px; }

  .fz-50 {
    font-size: 40px; }

  .fz-42 {
    font-size: 27px; }

  .fz-37 {
    font-size: 27px; }

  .fz-30 {
    font-size: 20px; }

  .fz-27 {
    font-size: 19px; }

  .fz-22 {
    font-size: 18px; }

  .fz-20 {
    font-size: 18px; }

  .fz-18 {
    font-size: 1rem; }

  .lh-0_9 {
    line-height: 1.1; }

  .lh-1_16 {
    line-height: 0.96; }

  .lh-1_3 {
    line-height: 1.18; }

  .section-bunner {
    padding-bottom: 133px;
    background-position: 72% center; }
    .section-bunner .center-bunner {
      margin-top: 59px; }
    .section-bunner.contact-bunner {
      background-position: 90% center; }

  .owl-2 .owl-nav {
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    margin-bottom: 30px; }
    .owl-2 .owl-nav [class*=owl-] {
      position: static;
      margin-top: 0; }
      .owl-2 .owl-nav [class*=owl-].owl-prev {
        margin-left: -8px; }
      .owl-2 .owl-nav [class*=owl-].owl-next {
        margin-right: -8px; }

  .section-features {
    padding-top: 156px;
    padding-bottom: 80px; }

  .product-item-wrap .product-item {
    padding: 10px 14px;
    margin-left: -14px;
    margin-right: -14px; }
    .product-item-wrap .product-item .col {
      padding-left: 2px; }
    .product-item-wrap .product-item .fz-22 {
      line-height: 1.17; }
    .product-item-wrap .product-item .fz-15 {
      line-height: 1.14; }

  .section-customer {
    padding-top: 63px;
    padding-bottom: 82px; }
    .section-customer .customer {
      margin-bottom: 25px; }
      .section-customer .customer.left {
        border-right: 0; }

  .section-developers {
    padding-top: 60px;
    padding-bottom: 70px; }

  .section-studies {
    padding-top: 64px;
    padding-bottom: 72px; }

  .section-clients {
    padding-top: 47px;
    padding-bottom: 165px; }

  .section-support {
    padding-top: 43px;
    padding-bottom: 143px; }

  .section-h1 {
    padding-top: 60px;
    padding-bottom: 60px; }
    .section-h1 .fz-60 {
      font-size: 34px;
      line-height: 0.88; }
    .section-h1 .fz-22 {
      font-size: 20px; }
    .section-h1 .circle {
      padding: 10px 9px;
      width: 43px;
      height: 43px; }

  .circle.circle-lg {
    width: 123px;
    height: 123px;
    padding: 3px; }

  .section-numbers [class*="col-"]:nth-child(3):before {
    display: none; }
  .section-numbers [class*="col-"]:before {
    top: 10px !important;
    bottom: 12px !important; }

  .section-customers {
    padding-top: 60px;
    padding-bottom: 64px; }

  .section-supports {
    padding-top: 0;
    padding-bottom: 69px; }

  .support-block {
    padding: 45px 0; }

  .section-contact .col {
    padding-left: 2px; }
  .section-contact img {
    width: 50px; }

  .year.mounth {
    font-size: 21px;
    padding: 12px 21px 7px; }

  .history-wrap {
    padding-top: 54px; }
    .history-wrap:before {
      border-left-width: 3px;
      margin-left: -1.5px; }
    .history-wrap .history-block {
      background-color: #f8f9f9;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 5px;
      padding-bottom: 5px; }

  .section-table {
    padding-top: 40px;
    padding-bottom: 86px; }
    .section-table .checkbox-group {
      font-size: 12px;
      line-height: 1.8; }
    .section-table .col-auto {
      width: 97px;
      padding-left: 12px !important;
      padding-right: 12px !important; }
    .section-table .col-md-auto {
      width: 100%; }
    .section-table .table-neutral {
      padding-right: 12px;
      font-size: 14px; }
    .section-table .table-block {
      padding-left: 12px;
      padding-right: 12px; }
      .section-table .table-block .col-auto {
        font-size: 14px; }
      .section-table .table-block [class*="col"] {
        padding-top: 12px;
        padding-bottom: 10px; }
      .section-table .table-block .row-wrap {
        margin-left: -12px;
        padding-left: 0;
        margin-right: -12px;
        padding-right: 0; }
    .section-table .table-head .col {
      font-size: 11px; }
    .section-table .table-head [class*="col"] {
      padding-top: 13px;
      padding-bottom: 13px; }
    .section-table .table-head img {
      width: 32px; }
    .section-table .table-foot [class*="col"] {
      font-size: 18px; }
    .section-table .table-foot .col-md-auto {
      border-left: 0 !important; }

  footer .product-wrap img {
    margin-top: -40px; }
  footer .centered {
    margin-top: 95px;
    margin-bottom: 130px; } }
@media (max-width: 575px) {
  .logo-product-wrap .logo-product {
    width: 40px; }
  .logo-product-wrap.product-wrap .logo-product {
    margin-top: -20px; }

  .product img {
    width: 60px; }

  .navbar-2.fixed-top .navbar-brand {
    font-size: 1rem; }

  .navbar-3 .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  .navbar-3 .nav-item .nav-link {
    font-size: 14px; }

  #modal-form .modal-content .left, #modal-form .modal-content .right, #modal-form .row .left, #modal-form .row .right, .contact-form .modal-content .left, .contact-form .modal-content .right, .contact-form .row .left, .contact-form .row .right {
    padding-left: 14px !important;
    padding-right: 14px !important; }

  .radio-group {
    font-size: 14px;
    line-height: 2; } }
@media (max-width: 349px) {
  .navbar-1 .navbar-brand {
    font-size: 1rem;
    margin-right: 0.5rem; } }

/*# sourceMappingURL=style.css.map */
